


/* CSS Line */


.gameDetailsPage {
    max-width: 100vw;
    height: 100vh;

    background: url(../public/game-details-page-assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 3rem;
    padding-top: 5rem;
}

.leftSide {
    width: 50%;
    height: 100%;
}

.imageHolder {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.gameImage {
    width: 80%;

    border-radius: 20px;
}

.backBtnHolder {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 6rem;
}

.backBtn {
    background-color: transparent;
    border: none;

    font-size: 2vw;

    color: blue;
    text-decoration: underline;

    cursor: pointer;
}
.backBtn:hover {
    color: rgb(0, 0, 224);
}



.rightSide {
    width: 50%;
    height: 100%;

    padding: 1rem 0px;
}

.descriptionHolder {
    width: 100%;
    height: 80%;

}

.gameTitle {
    color: white;

    font-size: 2.2rem;
}
.gameGenre {
    color: rgb(151, 151, 151);

    font-size: 1.5rem;

    margin-bottom: 3rem;
}

.gameDescription {

    max-width: 75%;

    margin-bottom: 3rem;
    color: rgb(151, 151, 151);
}



.moreDetailsHolder {
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(192, 192, 192);
}


.playBtnHolder {
    width: 70%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playNowBtn {
    width: 80%;
    height: 80%;

    border: none;

    border-radius: 10px;

    color: white;
    font-size: 2vw;

    background-color: orange;
    cursor: pointer;
}
.playNowBtn:hover {
    background-color: rgb(212, 138, 0);
}


.playNowBtnDisabled {
    width: 80%;
    height: 80%;

    border: none;

    border-radius: 10px;

    color: rgb(167, 167, 167);
    font-size: 2vw;

    background-color: rgb(214, 214, 214);
    cursor: not-allowed;
}



.playedOverlay {
    color: white;
    margin-left: 15px;
    padding: 5px;
    background-color: rgb(255, 61, 61);
    font-weight: bold;
    border-radius: 5px;
}

.playedOverlayDisabled {
    display: none;
}