* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
<<<<<<< HEAD
}

@tailwind base;
@tailwind components;
@tailwind utilities;
=======
} 

>>>>>>> 37ff49b5a9131764064d412bc001a94d10930877
