/* CSS Line */

.profilePage {
  width: 100vw;
  height: 100vh;

  background-image: url("../public/profile-page-assets/features.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;

  position: relative;
}

.leftSide {
  width: 55%;
  height: 100%;
  padding-top: 2rem;
}

.username {
  font-size: 3rem;
  color: white;
}

.rightSide p {
  color: lightgray;
}

.emailHolder {
  margin-bottom: 1rem;
}

.rightSide {
  width: 45%;
  height: 100%;
}

.backBtn {
  background-color: transparent;
  border: none;

  font-size: 2vw;

  color: blue;
  text-decoration: underline;

  cursor: pointer;
}
.backBtn:hover {
  color: rgb(0, 0, 224);
}

.changeOverlay {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.changeHolder {
  width: 30rem;

  padding: 2rem;

  background-color: rgb(43, 43, 43);
  border-radius: 10px;
}

.submitBtn {
  padding: 5px 10px;
  background-color: orange;
  border-radius: 10px;
}
